<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jason.alfred.clean-paste</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>19E10149-93FB-4DED-B7C2-A1A148FB42C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65CBB5AE-BC63-4E00-8C65-905DF4DDEF5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65CBB5AE-BC63-4E00-8C65-905DF4DDEF5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B962954C-38B3-441A-B84A-40FDF6E22770</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1557E77-4EF3-407E-89D3-B093E4B5FA4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65CBB5AE-BC63-4E00-8C65-905DF4DDEF5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Hoelscher-Obermaier</string>
	<key>description</key>
	<string>Remove line breaks and whitespace in a smart way, then paste</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clean Paste</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clean paste</string>
				<key>subtext</key>
				<string>Remove line breaks and whitespace, then paste</string>
				<key>text</key>
				<string>Clean Paste</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>19E10149-93FB-4DED-B7C2-A1A148FB42C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./clean.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65CBB5AE-BC63-4E00-8C65-905DF4DDEF5D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B962954C-38B3-441A-B84A-40FDF6E22770</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cp</string>
				<key>subtext</key>
				<string>Remove line breaks and whitespace, then paste</string>
				<key>text</key>
				<string>Clean Paste</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1557E77-4EF3-407E-89D3-B093E4B5FA4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Remove line breaks and whitespace in a smart way (removing uniform indentation, stripping blockquote markers, unwrapping lines that are likely wrapped from limited width outputs), then paste</string>
	<key>uidata</key>
	<dict>
		<key>19E10149-93FB-4DED-B7C2-A1A148FB42C1</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>65CBB5AE-BC63-4E00-8C65-905DF4DDEF5D</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>B962954C-38B3-441A-B84A-40FDF6E22770</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>D1557E77-4EF3-407E-89D3-B093E4B5FA4F</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.4.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
