<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jason.multipaste</string>
	<key>connections</key>
	<dict>
		<key>4220135A-7E73-47EC-BEE3-F83F6E0B37DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>SCRIPT-001</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>KEYWORD-001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>SCRIPT-001</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>SCRIPT-001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CLIPBOARD-001</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Hoelscher-Obermaier</string>
	<key>description</key>
	<string>Multi-select clipboard items and paste as formatted list</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Multi Paste</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
					<key>escaping</key>
					<integer>0</integer>
					<key>script</key>
					<string></string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string>./run_multi_paste.sh</string>
					<key>type</key>
					<integer>8</integer>
				</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>SCRIPT-001</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CLIPBOARD-001</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>Multi Paste</string>
				<key>subtext</key>
				<string>Select multiple clipboard items and format as list</string>
				<key>text</key>
				<string>Multi Paste</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4220135A-7E73-47EC-BEE3-F83F6E0B37DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mp</string>
				<key>subtext</key>
				<string>Select multiple clipboard items and format as list</string>
				<key>text</key>
				<string>Multi Paste</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>KEYWORD-001</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Multi Paste

Select multiple clipboard items and paste them as a formatted list.

### Usage

1. Type `mp` or `multi paste` in Alfred
2. Press Enter to launch the picker
3. Use TAB to select multiple items in fzf
4. Press Enter to confirm selection
5. Choose output format (dash list, numbered, etc.)
6. Text is automatically pasted to the original app

### Keyboard Shortcuts

- TAB: Toggle selection
- Ctrl+A: Select all
- Enter: Confirm
- Escape: Cancel</string>
	<key>uidata</key>
	<dict>
		<key>4220135A-7E73-47EC-BEE3-F83F6E0B37DC</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>CLIPBOARD-001</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>KEYWORD-001</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>SCRIPT-001</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
